<!DOCTYPE html>
<html>
  <head>
    <title>Dublin Bikes</title>
    <link rel="stylesheet" href="../static/dbstyles.css" />
    <script type="text/javascript" src="../static/map.js"></script>

    <!-- ############################################################################################################################################### -->

    <script>
      ((g) => {
        var h,
          a,
          k,
          p = "The Google Maps JavaScript API",
          c = "google",
          l = "importLibrary",
          q = "__ib__",
          m = document,
          b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}),
          r = new Set(),
          e = new URLSearchParams(),
          u = () =>
            h ||
            (h = new Promise(async (f, n) => {
              await (a = m.createElement("script"));
              e.set("libraries", [...r] + "");
              for (k in g)
                e.set(
                  k.replace(/[A-Z]/g, (t) => "_" + t[0].toLowerCase()),
                  g[k]
                );
              e.set("callback", c + ".maps." + q);
              a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
              d[q] = f;
              a.onerror = () => (h = n(Error(p + " could not load.")));
              a.nonce = m.querySelector("script[nonce]")?.nonce || "";
              m.head.append(a);
            }));
        d[l]
          ? console.warn(p + " only loads once. Ignoring:", g)
          : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
      })({ key: "{{key}}", v: "weekly" });
    </script>

    <!-- ############################################################################################################################################### -->
  </head>
  <body>
    <header>
      <h2 class="logo">Dublin Bikes</h2>

      <div class="weatherDisplay">
        <span id="weatherTemp"></span>
        <img id="weatherIcon" src="" alt="" />
        <span id="weatherDescription"></span>
        <div id="date"></div>
      </div>
      <div class="filterTabs">
        <button
          id="collectNow"
          class="statusButton"
          onclick="initMap('collect')"
        >
          Collect Now
        </button>
        <button id="returnNow" class="statusButton" onclick="initMap('return')">
          Return Now
        </button>
      </div>
    </header>

    <!-- ############################################################################################################################################### -->

    <div class="container">
      <div class="column1">
        <div class="block1">
          <div id="staticInformation"></div>
        </div>
        <p></p>
        <div class="block2">
          <div class="trip-planner" id="tripPlanner" style="display: none">
            <h2>Plan a Trip</h2>
            <br />
            <form>
              <div>Station ID:</div>
              <div id="stationID"></div>
              <br />
              <label for="forecastDay"><b>Select Day:</b></label>
              <select id="forecastDay"></select>
              <label for="forecastTime"><b>Select Time:</b></label>
              <select id="forecastTime">
                <option value="6">6 am</option>
                <option value="7">7 am</option>
                <option value="8">8 am</option>
                <option value="9">9 am</option>
                <option value="10">10 am</option>
                <option value="11">11 am</option>
                <option value="12">12 pm</option>
                <option value="13">1 pm</option>
                <option value="14">2 pm</option>
                <option value="15">3 pm</option>
                <option value="16">4 pm</option>
                <option value="17">5 pm</option>
                <option value="18">6 pm</option>
                <option value="19">7 pm</option>
                <option value="20">8 pm</option>
                <option value="21">9 pm</option>
                <option value="22">10 pm</option>
              </select>
              <button type="button" onclick="searchForecast()">Search</button>
              <div id="predictiveModelResults"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="column2">
        <div class="block3"><div id="map"></div></div>
      </div>
      <div class="column1">
        <div class="block4" id="graphs"></div>
      </div>
    </div>

    <!-- ############################################################################################################################################### -->

    <script>
      var stationsRetrieval = JSON.parse({{ stations|tojson|safe }});
      var availability_allRetrieval = JSON.parse({{availability_all|tojson|safe }});
      var weatherRetrieval = JSON.parse({{ weather|tojson|safe }});
      dateToday()
      print();
      initMap();
      displayWeather(weatherRetrieval);
    </script>
  </body>
  <footer></footer>
</html>
